div#blog_wrapper {
	width: 1100px;
	margin: auto;
}

div#sidebar {
	border: 1px solid #aaa;
	background-color: #fff;
	width: 220px;
	padding: 20px;
	margin-left: 20px;
	float: left;
	min-height: 400px;
}

div.blog_container {
	position: relative;
	border: 1px solid #aaa;
	background-color: #fff;
	width: 800px;
	height: 600px;
	float: left;
	font-family: Gentium, serif;
}

span.blog_date {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 80px;
	text-align: center;
	color: #888;
}

a.blog_edit {
	position: absolute;
	top: 20px;
	right: 20px;
}

h1.blog_title {
	text-align: center;
	padding: 0 80px;
	margin: 20px 0 10px 0;
}

hr.blog_divider {
	margin: auto;
	color: #ccc;
}

div.blog_content {
	padding: 0 20px;
}
