<html>
	<head>
		{% load staticfiles %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src={% static "tinymce/tinymce.min.js" %}></script>
		<script type="text/javascript">
		tinymce.init({
    		selector: "textarea",
    		statusbar: false,
    		resize: false,
    		plugins: [
        		"advlist autolink lists link image charmap print preview anchor",
        		"searchreplace visualblocks code fullscreen",
        		"insertdatetime media table contextmenu paste moxiemanager"
    		],
    		toolbar: "insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
		});
		</script>
	</head>
	<body>
		<a href={% url "blog_home" %}>Home</a>
		<hr />
		<form method="POST" action={% url "blog_edit" blog.pk %}>
			{% csrf_token %}
			{{ blog_form.title }}
			{{ blog_form.content }}
			<input type="submit" value="Submit Blog"/>
		</form>
	</body>
</html>
