{% extends "blog/base.html" %}
{% load staticfiles %}
{% block title %}
	Edit Ramblings
{% endblock %}
{% block header %}
		<link href={% static "blog/form.css" %} rel="stylesheet" type="text/css" media="all"/>
		<script type="text/javascript" src={% static "tinymce/tinymce.min.js" %}></script>
		<script type="text/javascript">
		tinymce.init({
    		selector: "textarea",
    		statusbar: false,
    		resize: false,
    		height: "600px",
    		plugins: [
        		"advlist autolink lists link image charmap print preview anchor",
        		"searchreplace visualblocks code fullscreen",
        		"insertdatetime media table contextmenu paste moxiemanager"
    		],
    		toolbar: "insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
		});
		</script>
{% endblock %}
{% block content %}
	<div id="form_wrapper">
		<form method="POST" action=
				{% if existing_blog %}
					{% url "blog_edit" blog_id %}
				{% else %}
					{% url "blog_new" %}
				{% endif %}
			>
			<div id="form_container">
				{% csrf_token %}
				{{ blog_form.title }}
				<br/>
				<br/>
				{{ blog_form.content }}
				<br/>
				<input id="submit_button" type="submit" value="Submit Blog"/>
			</div>
			<div id="tags_container">
				<h1>Tags:</h1>
				{{ blog_form.tags }}
			</div>
		</form>
	</div>
{% endblock %}
